# Ignore everything
*

# But not these files...
!.gitignore
!/forgpt/*
!forgpt
!.gptignore
!setup.py
!README.md
!BUILD.md
!requirements.txt
!example
!LICENSE
!pyproject.toml
!/dist/*
# etc...

# ...even if they are in subdirectories
!*/